body{
    margin: 0;
    width: 100%;
    padding: 0%;
}

.backgroundpattern{
    background-color: rgb(74, 204, 255);
    background-image: url(../img/pattern.png);
    width: 100%;
    display: inline-block;
    height: 160px;
    background-position: top;
}

#logo{
    width: 300px;
    height: auto;
    margin-top: 70px;
    margin-left: 5px;
}


.contenitore{
    margin-left: 5px;
}



h1{
    text-align: left;
    font-weight: 1000;
    font-size: 3em;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 2px;
    margin-left: 5px;
}

.autore1{
    display: inline-block;
    margin-top: 0px;
    color: grey;
    margin-bottom: 0;
    margin-left: 5px;
}

#autore2{
    color: blue;
}

.dataeditore{
    display: inline-block;
    margin: 0px;
    color: grey;
    margin-left: 5px;
}

.descfoto{
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 5px;
    font-weight: bolder;
}

.articolo{
    font-weight: bolder;
    margin-left: 5px;
}

.testoevidenziato{
    background-color: yellow;
}

li{
    font-weight: bolder;
}

#lista{
    margin-top: 15px;
    display: inline-block;
}

.larghezza{
    width: 20%;
    text-align: left;
}


tr:nth-child(odd){
    background: rgb(61, 177, 255,0.5);
}


th{
    color: white;
}

#bghead{
    background: blue;
}

table{
    border-spacing: 0px;
}